
body { 
    background: #EEE; /*#F5F5F5; /* whitesmoke */
    color:      #808080; /* gray */
}

div#brand {
    width: 180px;
    padding: .1em;
    /*border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid silver;
    border-bottom: 1px solid silver;*/
    border-style: groove;
    /*border-color: #EEE;*/
    background: whitesmoke;
    color: salmon;
    font-size: 2em;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    /*text-shadow: 0.5em 0.5em black;*/
}

span {
    color: inherit;
    font-size: 0.8em;
    font-style: inherit;
}

p { 
    text-align: justify;
    font:       8pt verdana, serif;
    color:      inherit;
}

p.Remark { font-weight: bold; }

ul#navigation {
    width: 12em;
}

ul#navigation li {
    list-style: none;
    background-color: whitesmoke; /* blue */
    border-top: solid 2px #FFF; /* white */
    border-left: solid 1px #FFF; /* white */
    text-align: left;
    /*margin: 0;*/
}

ul#navigation li a {
    border-bottom: 1px solid #CCC;/*#FA8072; /* salmon */
    border-right: 1px solid #CCC; /*    gray */
    padding: .25em;
    display: block;
    text-decoration: none;
}

ul#navigation li#exit a {
    color: inherit;
}

a:link, a:visited { color: #888; } /* gray*/
a:active { color: #FA8072; } /* salmon */
a:hover { 
    background-color: #FA8072; /* salmon */
    color:            #ffffe0; /* lightyellow */
}

p a:link, p a:visited { color: #888; } /* gray */

ul#navigation li#youarehere a { background-color: #09f }
p a:link { color: #000 }
p a:visited { color: #000 }
