@CHARSET "ISO-8859-1";

table.dtlist {
    border-width: 1px;
    border-style: solid;
    border-top-color: #EEEEFF;
    border-left-color: #EEEEFF;
    border-right-color: #CCCCDD;
    border-bottom-color: #CCCCDD;
    margin: 20px 0 20px 0 !important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
}

/*
table.dtlist th,td {
    padding: 2px 4px 2px 4px !important;
    text-align: left;
    vertical-align: top;
}
*/

table.dtlist thead tr {
    background-color: #FFFFFF;
}

table.dtlist th {
    border: 1px solid #DDDDEE;
    vertical-align: bottom;
    padding-left: 3px;
    padding-right: 15px;
    text-align: left;
}

table.dtlist td {
    vertical-align: top;
}

table.dtlist th.sorted {
    background-color: #FFCCAA;
    border: 1px solid #FF8800;
}

table.dtlist th a,table.dtlist th a:visited {
    color: black;
    text-decoration: none;
}

table.dtlist th a:hover {
    color: #FF8800;
    text-decoration: none;
}

table.dtlist th.sorted a,table.dtlist th.sortable a {
    background-position: right;
    display: block;
    width: 100%;
    text-decoration: none;
    padding-right: 15px;
    margin: 0px;
    background-image: url(/ssc/images/arrow_off.png);
    background-repeat: no-repeat;
}

table.dtlist th.order1 a {
    background-image: url(/ssc/images/arrow_down.png);
    background-repeat: no-repeat;
}

table.dtlist th.order2 a {
    background-image: url(/ssc/images/arrow_up.png);
    background-repeat: no-repeat;
}

table.dtlist tr.odd {
    background-color: #EEEEFF
}

table.dtlist tr.tableRowEven, table.dtlist tr.even {
    background-color: #FFFFEE
}

table.dtlist div.exportlinks {
    background-color: #eee;
    border: 1px dotted #999;
    padding: 2px 4px 2px 4px;
    margin: 2px 0 10px 0;
    width: 79%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
}

table.dtlist span.export {
    padding: 0 4px 1px 20px;
    display: inline;
    /*display: inline-block;*/
    cursor: pointer;
}

table.dtlist span.excel {
    background-image: url(images/ico_file_excel.png);
    background-repeat: no-repeat;
}

table.dtlist span.csv {
    background-image: url(images/ico_file_csv.png);
    background-repeat: no-repeat;
}

table.dtlist span.xml {
    background-image: url(images/ico_file_xml.png);
    background-repeat: no-repeat;
}

table.dtlist span.pdf {
    background-image: url(images/ico_file_pdf.png);
    background-repeat: no-repeat;
}

table.dtlist span.rtf {
    background-image: url(images/ico_file_rtf.png);
    background-repeat: no-repeat;
}

.pagebanner {
    background-color: #FFFFFF;
    padding: 2px 4px 2px 4px;
    width: 79%;
    margin-top: 10px;
    border-color: #DDDDDD;
    border-width: 1px;
    border-top-style: solid;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
}

.pagelinks {
    background-color: #FFFFFF;
    padding: 2px 4px 2px 4px;
    width: 79%;
    display: block;
    border-color: #DDDDDD;
    border-width: 1px;
    border-bottom-style: solid;
    margin-bottom: 5px;
    padding-bottom: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
}

table.dtlist td.icons {
    text-align: center;
}

table.dtlist td.resalted {
    font-weight: bold;
}

table.dtlist tr.total td {
    border: 1px solid #FFEEAA;
}

table.dtlist td.number {
    text-align: right;
}

table.dtlist td.text {
    text-align: left;
}

table.dtlist tr.empty td {
    text-align: center;
}

table.dtlist input.text {
    font-size: 8pt;
}

table.dtlist input.textNumber {
    font-size: 8pt;
    text-align: right;
}
