body {
	background: silver; /*#AAA;*/
	color: white;
}

a:link,a:visited,a:active {
	color: white
}

.brand {
	font-size: 2em;
	font-weight: bold;
	font-style: italic;
	color: salmon;
	width: 30%;
	background: #000;
}

.trade {
	font: 0.8em italic;
	color: yellow;
}

.message {
	font: normal 0.8em Verdana;
	width: 30%;
}

.LoginForm {
	width: 30%;
	border-right: 2px solid gray;
	border-bottom: 2px solid gray;
	background-color: #87CEFA; /* lightskyblue */
	color: #FFF; /* white */
	/*text-align: right;*/
}

.LoginForm caption {
	padding: 8px;
	border-right: 2px solid gray;
	background: #1E90FF; /* dodgerblue */
	color: #F5F5F5; /* whitesmoke */
	text-align: left;
	font: 1.2em verdana;
}

.buttons {
	padding: 0px;
}

.right {
	text-align: right;
}
