
/*
 * Colors custom used to
 *  #90d0ff | rgb(223,239,255) 'turquise'
 *  #4467a2 | rgb(68,103,162)  'nice blue'
 *  #F5F5F5 | rgb(245,245,245) 'whitesmoke'
 */

body {}
body.Menu { background: #F0FAFF; /* aliceblue */}

.Number { text-align: right;}
.Center { text-align: center;}

a:link,
a:visited { color: #00F; } /* blue */
a:active  { color: #F0F; } /* fuchsia */

a.Menu:link,
a.Menu:visited { color: #FFF; } /* white */
a.Menu:active  { color: #CCC; } /* silver */

a.Menu { text-decoration: none; } /* underline */

a.Tool { width: 38px; height: 24px; }

span#brand, span#trade { 
    font-size: 0.8em;
    font-weight: bold;
    font-style: italic;
    color: salmon;
}
span#trade { font-size: 0.8em; }

div#copy { color: #FA8072; } /* salmon */

ul.Menu {
    font-size:   1.2em;
    font-weight: bold;
}

em { font-weight: bold; }

table {
    /*border-collapse: collapse;*/
    font-size:       1em;
    font-family:     Serif, Arial, Verdana;
}

table.Login {
    border-style: none;
    width:        280px;
    background:   #87CEFA; /* lightskyblue*/
    color:        #FFFFFF; /* white */
}

table.Form {
    /* border-width border-color borde-style */
    /*width:         700 px;*/
    /*border: thick #FFDAB9 solid; /* peachpuff*/
    /*border-top:    2px solid #FFF; /* white */
    border-bottom: 3px solid #888; /* gray */
    border-right:  3px solid #888; /* gray */
    border-left:   1px solid #FFDAB9; /* gray */
    background:    #FAF0E6; /* linen; */ /*#FFEFD5; /* PapayaWhip */
    font-size:     0.80em;
}

table.Report {
    /*border-collapse: none;*/
    font-size:    1em;
}

caption {
    padding-left: 4px;
    background: #D3D3D3; /* lightgray*/
    text-align: left;
}

caption.Login {
    height:      30px;
    background:  #008; /* navy */
    color:       #FFF; /* white */
    font-weight: bold;
    font-size:   1.2em;
    font-family: Verdana, Serif;
}

caption.Menu {
    background: #4682B4; /* steelblue */
    color:       #FFF; /* white */
    font-size:   0.9em;
}

caption.Form {
    border-top:   2px solid #FFF; /* gray */
    border-right: 3px solid #888; /* gray */
    padding:      6px; /* 
    /*background: #87CEFA; */ /* lightskyblue */ /* #90d0ff lghter than lightskyblue*/
    background:   #FFDAB9; /* PeachPuff */
    color:        brown; /*#7D615B; /*#A0A0A0; /*#FA8072; /* salmon */
    font-family:  Arial Verdana;
    font-size:    1.2em;
}

col#leftLabel { padding-left: 40px; }
col#rightLabel { padding-left: 0px; padding-right: 40px; }

col.Number { text-align: right }
col.Center { text-align: center }

thead {
    background: #D3D3D3; /* lightgrey */
    color:      #000; /* black */
}

.Toolbar {
    height:         40px;
    padding-top:    6px;
    padding-bottom: 6px;
    background: 	whitesmoke;
    color:      	silver; /* black */
}

tbody.Report { padding: 0px }

tfoot {
    /*background: #90d0ff; /* turquise */
    color:      inherit;
}
tfoot.Form {
    /*background: #90d0ff;*/ /* turquise */
    background: #FFDAB9; /* PeachPuff */
    color:      #FFF; /* white */
    font:       bold 1.2em verdana, serif;
}

tr.Total {
    background: #4682B4; /* steelblue */
    color:      #FFF; /* white */
    /*font:  bold 1.1em inherit;*/
}
tr.Distinct { background: #F5F5F5; /* whitesmoke */}

/*td { border: 1px solid; }*/

td label {
    /*margin-left: 30px;*/
    width:       120px;
    color:       #888; /* gray */
    font-size:   0.8em;
    font-family: Verdana;
    vertical-align: middle;
}

/* NOTA: Al modificar el valor de 'padding' considerar la
         modificacion de 'height' y viceversa; puesto que,
         la variacion de cualquiera de ellos afecta la visualizacion
         del contenido de la caja. En este caso 'input'.
*/
input {
    margin-right: 2px;
    padding:      2px 4px;
    color:        #888; /* gray */
    font-family:  Verdana, Serif, Arial;
}

input.Box {
    height: 22px;
    /*border: solid 1px;*/
    /*border-color: #D3D3D3; /* lightgrey */
    border:        none;
    border-top:    solid 1px white;
    border-bottom: solid 1px silver;
    border-right:  solid 1px silver;
    background:    #FCFCFC; /* whitesmoke */
}

input.Number { text-align: right }
input.Remark { color: #000 /* black */ }
input.NoBorder { border: none }

select {
    margin-top:   1px;
    margin-right: 2px;
    font-size:    1em;
    font-family:  Verdana, Arial, Serif;
    color:        #888; /* gray */
}

textarea {
    border-left:   none;
    border-top:    solid 1px white;
    border-bottom: solid 1px silver;
    border-right:  solid 1px silver;
    background:    #FCFCFC; /* lighter than whitesmoke */
    color:         royalblue; /*#888; /* silver */
    font-size:     1em;
    font-family:   Serif;
}

/*textarea#instructions { width: 492px; margin-left: 0px; }*/

col.Tiny,   label.Tiny,   input.Tiny    select.Tiny   { width: 20px; }
col.Small,  label.Small,  input.Small,  select.Small  { width: 40px; }
col.Medium, label.Medium, input.Medium, select.Medium { width: 80px; }
col.Large,  label.Large,  input.Large,  select.Large  { width: 160px; }
col.XLarge, label.XLarge, input.XLarge, select.XLarge { width: 320px; }

