
/*
 * Colors custom used to
 *  #90d0ff | rgb(223,239,255) | turquise
 *  #F0FAFF | '+- sky blue'
 *  #4467a2 | rgb(68,103,162) | 'nice blue'
 *  #6DA6E2 | 'deliciously blue'
 *  #F5F5F5 | rgb(245,245,245) | whitesmoke
 *  #87CEFA; | lightskyblue
 *  #D3D3D3; | lightgray
 *  #FFDAB9; | PeachPuff
 *  #7D615B;
 *  #A0A0A0;
 *  #FA8072;
 */

a:link, a:visited { color: #00F; }
a:active  { color: #F0F; }

/*
 * Table Form Container
 */

table.FormContainer {
	width: 100%;
	height: auto;
	border-collapse: collapse;
    color: buttontext;
	background-color: buttonface;
}

table.FormContainer caption {
    padding-top: 8px;
	background-color: buttonface;
    font: 1em Arial Verdana;
}

table.FormContainer thead {
	background-color: #f8f8f8; /* todo: review */ 
}

table.FormContainer tbody {
	border: solid 1px;
	font-size: 0.80em;
}

table.FormContainer tfoot {
	background-color: inherit; 
}

table.FormContainer table {
	width: 100%;
	border: solid 1px buttonshadow;
	background-color: inherit; 
	border-collapse: separate;
}

table.FormContainer td {
	/*border: solid 1px;*/
}

table.FormContainer input {
	/*padding-left: 8px;
	color:  inherit;*/
    font:  	0.9em Verdana, Serif, Arial;
}

table.FormContainer .label {
	padding-right: 8px;
	text-align: right;
	/*background-color: #fafafa;*/
}

/*
 * End Form Container
 */

/*td.TableContainer {
	border: solid 1px;
    border-collapse: collapsed;
	font-size: 0.8em;
}*/

/*td.TableContainer thead {
	background-color: inherit;
	color: gray;
	font-size: 1em;
	font-weight: bold;
	font-family: verdana;
}*/

.Form {
	/*width: 40em*/
    /*border: none;
    background-color:    threedlightshadow;
    font-size:     0.80em;*/
}

.Form caption {
    /*padding:      6px; 
    color:        gray;
    background-color:   #7D615B;
    font:    1.2em Arial Verdana;*/
}

.Form tfoot {
    /*background-color: #FFDAB9;
    color:      gray;
    font:       normal 1em verdana, serif;*/
}

.SearchForm {
	width: 100%;
	border: solid 10px inactiveborder;
	padding: 0.4em; 
	background-color: #FCFCFC;
	font:   0.8em normal verdana;
}
	
.SearchForm caption {
    /*border: 	1px inset;*/
    padding:    2px;
	color:      inherit;
    background-color: inactiveborder;
    font:       1em Verdana, Serif;
    text-align: left;
}

.SearchForm .label {
	width: 30%;
	padding-right: 2px;
    background-color: inherit;
    text-align: right;
	font:   normal 0.8em verdana;
}

.SearchForm img {
	/*border: solid 1px red;*/
	margin-top: 0px;
	text-align: left;
	vertical-align: top;
}

.Listing {
    border: none;
    width:  600px;
    color: inherit;
    background: inherit;
    font:    0.9em Arial;
}

.Listing thead {
    color: white;
    background: lightskyblue;
    font:  .9em Verdana;
}

.Listing tr.Odd {
	background: whitesmoke;
}

.Toolbar {
    background-color: #DDDDDD;
}

.Toolbar input, button, img {
	margin: 2px;
    border: none;
    vertical-align: middle;
    width:  28px;
    height: 24px;
}

.Tool {
	height: 18px; 
	width: 18px;
	vertical-align: bottom;
}

.Total {
    color:      #FFF;
	background: #4682B4;
    /*font:  bold 1.1em inherit;*/
}

.Distinct { background: inactiveborder; }

.Form tfoot {
	/*border: 0px;
	font-size: 1.1em;
	background-color: buttonface;*/
}

.Tiny   { width: 4em; }
.Small  { width: 8em; }
.Medium { width: 16em; }
.Large  { width: 32em; }
.XLarge { width: 40em; }

.Number { text-align: right; }
.Text   { text-align: left; }
.Center { text-align: center; }
.Remark { color: black; }
.NoBorder { border: none }

Label.Remark { font-weight: bold; }
