<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <display-name>Registro de Reservas</display-name>
    <description>
    	This application is part of a PMS application (Front Desk).
    </description>

    <servlet>
        <servlet-name>ServReservation</servlet-name>
        <servlet-class>servlets.ServReservation</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ServReservation</servlet-name>
        <url-pattern>/ServReservation</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServAvailability</servlet-name>
        <servlet-class>controllers.ServAvailability</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ServAvailability</servlet-name>
        <url-pattern>/ServAvailability</url-pattern>
    </servlet-mapping>

<!-- The Usual Welcome File List -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

</web-app>
